@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@100;400;700;900&display=swap');
:root{
    --font-color-main:rgb(71, 71, 71);
    --font-color-header: rgb(48, 48, 48);
    --color-white: rgb(250, 250, 250);
}
*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.4;
    font-size: 100%;
    color: var(--font-color-main);
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 1.8rem;
    color: var(--font-color-header);
}

/* EMAIL REGISTRATION */
.email-registration{
    width: 100%;
    min-height: auto;
    background: var(--color-white);
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.email-registration .form-wrapper{
    /* border: 1px solid black; */
    width: 900px;
    min-height: 600px;
    margin: 1rem;
    padding: 1rem;
}
.email-registration .form-wrapper > p{
    font-size: 0.8rem;
    color: rgb(119, 119, 119);
    margin-bottom: 0.5rem;
}
.email-registration .form-wrapper > h2{
    border-top: 1px solid rgb(194, 194, 194);
    line-height: 1.2;
    margin-top: 1rem;
    padding: 0.6rem 0;
}
.email-registration .form-wrapper > .cover{
    border-top: 1px solid rgb(194, 194, 194);
    margin-top: 1rem;
    padding: 0.6rem 0;
    width: 100%;
    height: auto;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
}
.cover .form{
    width: 100%;
    height: auto;
    text-align: left;
    margin:0.5rem 0 0 11rem;
    
    display: flex;
    flex-direction: column;
}
.cover .form > input,
.cover .form > select{
    padding: 0.3rem 0.6rem;
    border: 1px solid rgb(114, 114, 114);
    width: 400px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.cover .form > input::placeholder{
    font-size: 0.8rem;
}
.cover .form > input:focus{
    outline: none;
}
.cover .form > select{
    width: 200px;
}
.email-registration .form-wrapper > .agreement{
    border-top: 1px solid rgb(194, 194, 194);
    padding: 1rem 0;
    width: 100%;
    font-size: 0.9rem;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.email-registration .form-wrapper > .agreement label{
    margin-left: 0.7rem;
}
.email-registration .form-wrapper > .agreement input[type="button"]{
    padding: 0.5rem 6rem;
    background: rgb(4, 255, 130);
    margin: 0.7rem 0 1rem 0.8rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-out;
    border-radius: 5px;
}
.email-registration .form-wrapper > .agreement input[type="button"]:hover{
    box-shadow: 0 0 10px rgb(180, 180, 180);
}







/* CLASS SCHEDULE */
.class-sched{
    width: 100%;
    min-height: 100vh;
    background: rgb(43, 43, 43);
    padding: 2rem 3rem;
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.class-sched h1{
    color: var(--color-white);
    text-transform: uppercase;
}
.class-sched p{
    color: rgb(180, 180, 180);
}
.class-sched .table-cover{
    /* background: greenyellow; */
    width: 100%;
    height: 500px;
    margin-top: 1rem;
    padding: 3rem 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.table-cover table{
    /* border: 1px solid rgb(180, 180, 180); */
    border-collapse: collapse;
}
.table-cover table *{
    color: rgb(218, 218, 218);
}
.table-cover table tr{
    border-bottom: 1px solid rgb(70, 70, 70);
}
.table-cover table td{
    border-right: 1px solid rgb(70, 70, 70);
}
.table-cover table thead tr > th{
    font-size: 0.9rem;
}
.table-cover table thead tr > th,
.table-cover table tbody tr > td{
    letter-spacing: 0.1rem;
    padding: 0.8rem 0.2rem;
    text-align: center;
    background: var(--clr);
}
.table-cover table tbody tr > td.active{
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    transition: 0.5s ease-in;
    cursor: pointer;
}
.table-cover table tbody tr > td.active:hover{
    filter: drop-shadow(0 0 20px var(--clr));
    transform: scale(1.1, 1.1);
}